<div class="bg-gray padding flex gap justify-between">
  <a class="cursor-pointer" href="/">
    <img
      class="img-size"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Google_Logo_%281998%29.png/233px-Google_Logo_%281998%29.png"
      alt="Google Logo"
    >
  </a>
  <div class="flex gap items-center">
    <a class="button" href="/signin">
      Sign In
    </a>
    <a class="button" href="/signup">
      Sign Up
    </a>
  </div>
</div>