<div class="flex justify-center items-center p-top p-bottom">
  <div class="w-400 flex flex-column gap padding border border-radius-8">
    <div>
      <h2 class="text-center">Sign In To Your Account</h2>
    </div>
    <form class="flex flex-column gap" method="post" action="/signin">
      <div>
        <label for="name" class="font-bold">Email:</label><br />
        <input type="text" id="name" class="input-text-tag" name="email" placeholder="Enter email" required />
      </div>
      <div>
        <label for="password" class="font-bold">Password:</label><br />
        <input
          type="password"
          id="password"
          class="input-text-tag"
          name="password"
          placeholder="Enter password"
          required
        />
      </div>
      <div>
        <button type="submit" class="button font-bold font-size-16 w-full">Sign In</button>
      </div>
    </form>
    <div class="text-center">
      Don't have an account ? <br />
      <a class="font-color-blue font-bold" href="/signup">Sign Up Here</a>
    </div>
  </div>
</div>
