*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  font-family: sans-serif;
  font-size: 16px;
}

.w-full{
  width: 100%;
}
.w-400{
  width: 400px;
}

.padding{
  padding: 1rem;
}
.p-top{
  padding-top: 1rem;
}
.p-bottom{
  padding-bottom: 1rem;
}
.p-left{
  padding-left: 1rem;
}
.p-right{
  padding-right: 1rem;
}

.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.gap{
  gap: 1rem;
}

.button{
  display: block;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.button:hover{
  background-color: black;
  color: white;
}

.bg-gray{
  background-color: #e6e6e6;
}

.height{
  height: 100px;
}

.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}

.border{
  border: 2px solid black;
}
.border-radius-8{
  border-radius: 8px;
}

.img-size{
  height: 3rem;
}

.items-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}

.cursor-pointer{
  cursor: pointer;
}

.input-text-tag{
  width: 100%;
  border: 2px solid #404040;
  border-radius: 0.375rem;
  outline: none;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-size: 1rem;
}

.font-bold{
  font-weight: bold;
}
.font-color-blue{
  color: #00004d;
}
.font-size-16{
  font-size: 1rem;
}